.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 600px;
  text-align: center;
  padding: 5rem 1rem 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 0;
  }
}

.content h1 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 768px) {
  .content h1 {
    font-size: 2.5rem;
  }
}

.content h4 {
  margin-bottom: 1.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.item {
  height: 40px;
  width: 40px;
  display: inline-block;
  color: #fff;
  border-radius: 40px;
  position: relative;
  bottom: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    bottom: 0.35rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .portfolio {
    flex-direction: row;
  }
}

.portfolioItem {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolioItem {
    width: calc(100% / 5);
  }

  .portfolioItem:nth-child(odd) {
    transform: translateY(10px);
  }
}

.portfolio figure {
  position: relative;
  height: 260px;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  bottom: 0;
  cursor: pointer;
}

.portfolio img {
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.portfolio p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 1rem 1rem;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  color: #fff;
  transform: translateY(0);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
  .portfolio figure:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 10px 10px -5px rgb(0 0 0 / 0.1);
    transform: rotate(1deg);
    bottom: 1rem;
  }

  .portfolio figure:hover img {
    transform: scale(1.2);
  }

  .portfolio figure:hover p {
    transform: translateY(0);
  }

  .portfolio p {
    transform: translateY(50px);
  }
}
